html,
body {
  margin: 0;
  padding: 0;
  font-size: 0.3333rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  border: 0.0556rem solid red;
  border-radius: 0.0278rem;
}
.container h1 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6111rem;
  font-weight: bold;
  color: blue;
}
.container ul,
.container li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.3889rem;
}
.container li {
  padding: 0.1111rem;
  margin: 0.0556rem;
}